<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />

    <title>AI Job Intelligence & Career Copilot</title>

    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
  </head>

  <body>
    <div class="container">
      <h1>AI Job Intelligence & Career Copilot</h1>

      <p>Your AI-powered career assistant</p>

      <form method="POST" enctype="multipart/form-data">
        <label for="resume">Upload Your Resume</label>

        <input type="file" id="resume" name="resume" accept=".pdf" />

        <br /><br />

        <label for="job_description"> Job Description </label>

        <br />

        <textarea
          id="job_description"
          name="job_description"
          rows="15"
          placeholder="Paste the job description here..."
        ></textarea>

        <br /><br />

        <button type="submit">Analyze Job</button>
      </form>
    </div>
  </body>
</html>
