<!doctype html>
<html lang="en">
  <head>
    <title>AI Job Intelligence & Career Copilot</title>
  </head>
  <link
    rel="stylesheet"
    href="{{ url_for('static', filename='css/style.css') }}"
  />
  <body>
    <div class="cotainer">
      <h1>AI Job Intelligence & Career Copilot</h1>
      <p>Your AI-powered career assistant</p>
      <form method="post">
        <label for="job_description">Job Description</label>

        <textarea
          id="job_description"
          name="job_description"
          rows="10"
          placeholder="Paste the job description here..."
        ></textarea>

        <button type="submit">Analyze Job</button>
      </form>
    </div>
  </body>
</html>
